# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# VIRTUAL ENV
# -------------------------
venv/
env/
.venv/

# -------------------------
# JUPYTER
# -------------------------
.ipynb_checkpoints/

# -------------------------
# STREAMLIT
# -------------------------
.streamlit/

# -------------------------
# LOG FILES
# -------------------------
*.log

# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE FILES
# -------------------------
.vscode/
.idea/

# -------------------------
# ENV VARIABLES (SECURITY)
# -------------------------
.env